﻿<template>
  <div>
    <Crud :get-all="getAll" :get-by-id="getById" :create="createImage" :update-by-id="updateImage" :delete-by-id="deleteById" />
    <component :is="currentComponent" v-bind="passDownProps" :key="refreshTrigger" @done="getAll"></component>
  </div>
</template>

<script>
import imagesRepo from "@/utils/api/images";
import Crud from "@/components/Crud";
import ImageGrid from "@/components/Images/ImageGrid";
import ImageCreate from "@/components/Images/ImageCreate";
import {b64_to_utf8} from "@/utils/stringUtils";

export default {
  name: "Images",
  components: {Crud, ImageCreate, ImageGrid},
  data(){
    return{
      images: [],
      inputImageId: '',
      deleteImageId: '',
      updateImageId: '',
      componentProps:[],
      currentComponent: '',
      refreshTrigger: ''
    }
  },
  methods:{
    reRender(){
      this.refreshTrigger = Math.random();
    },
    work_with_image(){
      this.images.forEach(img => {
        img.rawBase64 = b64_to_utf8(img.rawBase64);
      });
    },
    async getAll(){
      this.images = (await imagesRepo.getAll()).data;
      this.work_with_image();
      this.setComponent(ImageGrid);
    },
    async getById(id){
      this.images = [];
      this.images.push((await imagesRepo.getById(id)).data);
      this.work_with_image();
      this.setComponent(ImageGrid);
    },
    createImage() {
      this.setComponent(ImageCreate);
    },
    updateImage(id){
      this.updateImageId = id;
      this.setComponent(ImageCreate);
    },
    async deleteById(id){
      await imagesRepo.deleteById(id);
      await this.getAll();
    },
    backToTheGrid(){
      this.currentComponent = ImageGrid.name;
    },
    setComponent(component){
      if(this.currentComponent === component.name){
        this.inputImageId  = '';
        this.deleteImageId = '';
        this.updateImageId = '';
        this.currentComponent = '';
        this.reRender();
      }
      this.currentComponent = component.name;
    }
  },
  computed:{
    passDownProps: function(){
      if(this.currentComponent === ImageGrid.name){
        return {images: this.images};
      }
      if(this.currentComponent === ImageCreate.name) {
        if (this.updateImageId === ''){
          return {}
        }
        return{
          imageId: this.updateImageId
        }
      }
      if(this.currentComponent === ImageGrid.name){
        return{
          objects: this.images,
          proto: {
            id: '',
            raw: '',
            sha256: ''
          }
        }
      }
      return null;
    }
  },
  created() {
    this.getAll()
  }
}
</script>

<style scoped>
table{
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}
td,th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>