﻿<template>
  <div>
    <Crud :get-all="getAll" :get-by-id="getById" :create="createSong" :update-by-id="updateSong" :delete-by-id="deleteById" />
<!--    <KeepAlive>-->
      <component :is="currentComponent" v-bind="passDownProps" :key="refreshTrigger" @done="getAll"></component>
<!--    </KeepAlive>-->
  </div>
</template>

<script>
import songsRepo from "@/utils/api/songs";
import Crud from "@/components/Crud";
import SongGrid from "@/components/Songs/SongGrid";
import SongCreate from "@/components/Songs/SongCreate";
import {b64_to_utf8} from "@/utils/stringUtils";

export default {
  name: "Songs",
  components: { Crud, SongCreate, SongGrid},
  data(){
    return{
      songs: [],
      inputSongId: '',
      deleteSongId: '',
      updateSongId: '',
      componentProps:[],
      currentComponent: '',
      refreshTrigger: ''
    }
  },
  methods:{
    reRender(){
      this.refreshTrigger = Math.random();
    },
    work_with_song(){
      this.songs.forEach(img => {
        img.payloadBase64 = b64_to_utf8(img.payloadBase64);
      });
    },
    async getAll(){
      console.log(songsRepo.url)
      this.songs = (await songsRepo.getAll()).data;
      this.work_with_song();
      this.setComponent(SongGrid);
    },
    async getById(id){
      this.songs = [];
      this.songs.push((await songsRepo.getById(id)).data);
      this.work_with_song();
      this.setComponent(SongGrid);
    },
    createSong() {
      this.setComponent(SongCreate);
    },
    updateSong(id){
      this.updateSongId = id;
      this.setComponent(SongCreate);
    },
    async deleteById(id){
      await songsRepo.deleteById(id);
      await this.getAll();
    },
    backToTheGrid(){
      this.currentComponent = SongGrid.name;
    },
    setComponent(component){
      if(this.currentComponent === component.name){
        this.inputSongId  = '';
        this.deleteSongId = '';
        this.updateSongId = '';
        this.reRender();
      }
      this.currentComponent = component.name;
    }
  },
  computed:{
    passDownProps: function(){
      if(this.currentComponent === SongCreate.name) {
        if (this.updateSongId === ''){
          return {}
        }
        return{
          songId: this.updateSongId
        }
      }
      if(this.currentComponent === SongGrid.name){
        return{
          songs: this.songs
        }
      }
      return null;
    }
  },
  created() {
    this.getAll()
  }
}
</script>

<style scoped>
table{
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}
td,th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>