﻿<template>
<div>
  <table>
    <thead>
    <tr>
      <td><button @click="getAll">GetAll</button></td>
      <td>
          <input v-model="inputUserId">
          <button @click.prevent="getById">GetById</button>
      </td>
      <td>
        <button @click.prevent="createUser">CreateUser</button>
      </td>
      <td>
        <input v-model="deleteUserId">
        <button @click.prevent="deleteById">Delete User</button>
      </td>
      <td>
        <input v-model="updateUserId">
        <button @click.prevent="updateUser">Update User</button>
      </td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <component :is="currentComponent" v-bind="passDownProps" :key="refreshTrigger" @done="getAll"></component>
<!--  <UsersGrid :users="users"></UsersGrid>-->
</div>
</template>

<script>
import users from "@/utils/api/users";
import UsersGrid from "@/components/Users/UsersGrid";
import CreateUser from "@/components/Users/CreateUser";

export default {
  name: "Users",
  components: {UsersGrid, CreateUser},
  data(){
    return{
      users: [],
      inputUserId: '',
      deleteUserId: '',
      updateUserId: '',
      componentProps:[],
      currentComponent: '',
      refreshTrigger: ''
    }
  },
  methods:{
    reRender(){
      this.refreshTrigger = Math.random();
    },
    async getAll(){
      this.users = (await users.getAll()).data;
      this.setComponent(UsersGrid);
    },
    async getById(){
      this.users = [];
      this.users.push((await users.getById(this.inputUserId)).data);
      this.setComponent(UsersGrid);
    },
    createUser() {
      this.setComponent(CreateUser);
    },
    updateUser(){
      this.setComponent(CreateUser);
    },
    async deleteById(){
      await users.deleteById(this.deleteUserId);
      await this.getAll();
    },
    backToTheGrid(){
      this.currentComponent = UsersGrid.name;
    },
    setComponent(component){
      if(this.currentComponent === component.name){
        this.inputUserId  = '';
        this.deleteUserId = '';
        this.updateUserId = '';
        this.currentComponent = '';
        this.reRender();
      }
      this.currentComponent = component.name;
    }
  },
  computed:{
    passDownProps: function(){
      if(this.currentComponent === UsersGrid.name){
        return {users: this.users};
      }
      if(this.currentComponent === CreateUser.name) {
        if (this.updateUserId === ''){
          return {}
        }
        return{
          userId: this.updateUserId
        }
      }
      return null;
    }
  },
  created() {
    this.getAll()
  }
}
</script>

<style scoped>
table{
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}
td,th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #dddddd;
}

</style>