﻿<template>
  <table>
    <thead>
    <tr>
      <td>id</td>
      <td>name</td>
      <td>isPremium</td>
      <td>duration</td>
      <td>likes</td>
      <td>image</td>
      <td>creator</td>
    </tr>
    </thead>
    <tbody>
    <tr v-for="song in songs" :key="song.id">
      <td>{{song.id}}</td>
      <td>{{song.name}}</td>
      <td>{{song.isPremium}}</td>
      <td>{{song.duration}}</td>
      <td>{{song.likes}}</td>
      <td><img :src="getImage(song)"/></td>
      <td>{{song.creatorEmail}}</td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import {b64_to_utf8} from "@/utils/stringUtils";

export default {
  name: "SongGrid",
  props: ["songs"],
  methods:{
    getImage(song){
      // return "data:image/jpg;base64," + song.imageBase64;
      return b64_to_utf8(song.imageBase64);
    }
  }
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>