﻿<template>
  <table>
    <thead>
    <tr>
      <td>id</td>
      <td>name</td>
      <td>isPremium</td>
      <td>duration</td>
      <td>likes</td>
      <td>image</td>
      <td>creator</td>
      <td>file</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ id }}</td>
      <td><input v-model="name"></td>
      <td><input v-model="isPremium"></td>
      <td><input v-model="duration"></td>
      <td>{{likes}}</td>
      <td><input v-model="imageId"></td>
      <td><input v-model="creatorId"></td>
      <td>
        <input type="file" @change="fileSelected">
      </td>
    </tr>
    <tr>
      <td>
        <button @click="songId ? updateSong() : createSong()">Submit</button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import songRepo from "@/utils/api/songs";
import {utf8_to_b64} from "@/utils/stringUtils";

export default {
  name: "SongCreate",
  emits: ["done"],
  props: ['songId'],
  data() {
    return {
      id: this.$uuid.v1(),
      name: '',
      creatorId: '',
      premium: '',
      likes: 0,
      duration: 0,
      imageId: '',
      isPremium: false,
      payloadBase64: '',
    }
  },
  methods: {
    fileSelected(event){
      console.log(event.target)
      this.getBase64(event.target.files[0]);
    },
    getBase64(file) {
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => {
        console.log(reader.result);
        this.payloadBase64  = utf8_to_b64(reader.result);
      };
      reader.onerror = function (error) {
        console.log('Error: ', error);
      };
    },
    async createSong() {
      this.isPremium = this.isPremium === 'true';
      await songRepo.create(this.$data);
      this.$emit('done')
    },
    async updateSong(){
      this.isPremium = this.isPremium === 'true';
      await songRepo.update(this.$data);
      this.$emit('done')
    }
  },
  beforeMount() {
    if (this.songId == null) {
      return;
    }
    songRepo.getById(this.songId).then(res => {
      this.id= res.data.id;
      this.name= res.data.name;
      this.creatorId = res.data.creatorId;
      this.premium= res.data.isPremium;
      this.likes= res.data.likes;
      this.image= res.data.imageId;
      this.payloadBase64= res.data.payloadBase64;
      this.duration = res.data.duration;
    })
  }
}
</script>

<style scoped>
table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>