<template>
  <div id="nav">
    <router-link class="lnk" to="/">Home</router-link>
    <router-link class="lnk" to="/Users">Users</router-link>
    <router-link class="lnk" to="/images">Images</router-link>
    <router-link class="lnk" to="/songs">Songs</router-link>
  </div>
  <router-view />
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.lnk{
  margin: 10px;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
