﻿<template>
  <table>
    <thead>
    <tr>
      <td><button @click="getAll">GetAll</button></td>
      <td>
        <input v-model="getId">
        <button @click.prevent="_getById">Get {{title}} By Id</button>
      </td>
      <td>
        <button @click.prevent="create">Create {{title}}</button>
      </td>
      <td>
        <input v-model="deleteId">
        <button @click.prevent="_deleteById">Delete {{title}}</button>
      </td>
      <td>
        <input v-model="updateId">
        <button @click.prevent="_updateById">Update {{title}}</button>
      </td>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "Crud",
  props:['getAll', 'getById', 'updateById', 'create','deleteById', 'title'],
  data(){
    return {
      updateId: '',
      deleteId: '',
      getId: '',
    }
  },
  methods:{
    async _getById(){
      console.log(this.getId)
      await this.getById(this.getId)
    },
    async _deleteById(){
      console.log(this.deleteId)
      await this.deleteById(this.deleteId)
    },
    async _updateById(){
      console.log(this.updateId)
      await this.updateById(this.updateId)
    }
  }
}
</script>

<style scoped>

</style>