﻿<template>
<table>
  <thead>
  <tr>
    <td v-for="(value, index) in proto" :key="index">
      {{index}}
    </td>
  </tr>
  </thead>
  <tbody>
  <tr v-for="item in objects" :key="item.id">
    <td v-for="prop in item" :key="prop">
      {{prop}}
    </td>
  </tr>
  </tbody>
</table>
</template>

<script>
export default {
  name: "GenericGrid",
  props: ["objects", 'proto']
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>