﻿<template>
  <table>
    <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Email</td>
      <td>Password</td>
      <td>IsSso</td>
      <td>IsAuthor</td>
      <td>DateOfRegister</td>
      <td>LastEntered</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ id }}</td>
      <td><input v-model="name"></td>
      <td><input v-model="email"></td>
      <td><input v-model="password"></td>
      <td>
        <select v-model="isSSO" name="IsSSO">
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
      </td>
      <td>
        <select v-model="isAuthor" name="IsAuthor">
          <option value='true'>true</option>
          <option value='false'>false</option>
        </select>
      </td>
      <td>{{ registeredAt }}</td>
      <td>{{ lastEntered ?? "never" }}</td>
    </tr>
    <tr>
      <td>
        <button @click="userId ? updateUser() : createUser()">Submit</button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import users from "@/utils/api/users";

export default {
  name: "CreateUser",
  emits: ["done"],
  props: ['userId'],
  data() {
    return {
      id: this.$uuid.v1(),
      name: '',
      email: '',
      password: '',
      isSSO: false,
      isAuthor: false,
      registeredAt: new Date(Date.now()).toISOString(),
      lastEntered: null
    }
  },
  methods: {
    async createUser() {
      this.isSSO = this.isSSO === 'true';
      this.isAuthor = this.isAuthor === 'true';
      await users.createUser(this.$data);
      this.$emit('done')
    },
    async updateUser(){
      this.isSSO = this.isSSO === 'true';
      this.isAuthor = this.isAuthor === 'true';
      await users.updateUser(this.$data);
      this.$emit('done')
    }
  },
  beforeMount() {
    if (this.userId == null) {
      return;
    }
    users.getById(this.userId).then(res => {
      this.id = res.data.id;
      this.name = res.data.name;
      this.email = res.data.email;
      this.password = res.data.password;
      this.isSSO = res.data.isSSO;
      this.isAuthor = res.data.isAuthor;
      this.registeredAt = res.data.registeredAt;
      this.lastEntered = res.data.lastEntered;
    })
  }
}
</script>

<style scoped>
table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>