﻿<template>
<div>
  <table>
    <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Email</td>
      <td>IsSso</td>
      <td>PasswordSha256</td>
      <td>DateOfRegister</td>
      <td>LastEntered</td>
    </tr>
    </thead>
    <tbody>
    <tr v-for="user in users" :key="user.id">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.isSSO}}</td>
      <td>{{user.password}}</td>
      <td>{{user.registeredAt}}</td>
      <td>{{user.lastEntered ?? 'never'}}</td>
    </tr>
    </tbody>
  </table>
</div>
</template>

<script>
export default {
  name: "UsersGrid",
  props: ["users"]
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>