﻿<template>
  <table>
    <thead>
    <tr>
      <td>Id</td>
      <td>Raw</td>
      <td>Hash</td>
    </tr>
    </thead>
    <tbody>
    <tr v-for="image in images" :key="image.id">
      <td>{{image.id}}</td>
      <td><img :src="image.rawBase64"/></td>
      <td>{{image.sha256}}</td>
    </tr> 
    </tbody>
  </table>
</template>

<script>
export default {
  name: "ImageGrid",
  props: ["images", 'proto']
}
</script>

<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>