﻿<template>
  <table>
    <thead>
    <tr>
      <td v-for="(index, value) in $data" :key="index">{{ value }}</td>
<!--      <td>Name</td>-->
<!--      <td>Email</td>-->
<!--      <td>Password</td>-->
<!--      <td>IsSso</td>-->
<!--      <td>IsAuthor</td>-->
<!--      <td>DateOfRegister</td>-->
<!--      <td>LastEntered</td>-->
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ id }}</td>
      <td>
        <input type="file" @change="fileSelected">
      </td>
      <td>{{sha256}}</td>
    </tr>
    <tr>
      <td>
        <button @click="imageId ? updateImage() : createImage()">Submit</button>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import imageRepo from "@/utils/api/images";
import {utf8_to_b64} from "@/utils/stringUtils";

export default {
  name: "ImageCreate",
  emits: ["done"],
  props: ['imageId'],
  data() {
    return {
      id: this.$uuid.v1(),
      rawBase64 : '',
      sha256: ''
    }
  },
  methods: {
    fileSelected(event){
      console.log(event.target)
      this.getBase64(event.target.files[0]);
    },
    getBase64(file) {
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => {
        console.log(reader.result);
        this.rawBase64  = utf8_to_b64(reader.result);
      };
      reader.onerror = function (error) {
        console.log('Error: ', error);
      };
    },
    async createImage() {
      await imageRepo.create(this.$data);
      this.$emit('done')
    },
    async updateImage(){
      await imageRepo.update(this.$data);
      this.$emit('done')
    }
  },
  beforeMount() {
    if (this.imageId == null) {
      return;
    }
    imageRepo.getById(this.imageId).then(res => {
      this.id = res.data.id;
      this.sha256 = res.data.sha256;
      this.rawBase64 = res.data.rawBase64;
    })
  }
}
</script>

<style scoped>
table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>